$wite : #ffffff;
$bold_text: rgba(0, 0, 0, 0.80);
$body_text: rgba(0, 0, 0, 0.60);
$light_text: rgba(0, 0, 0, 0.40);
$stroke: rgba(0, 0, 0, 0.10);
$green: #62B435;
$red:#F64747;
$blue:#3498DB;
$grey: #333;
